body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b2f2d;
    color: beige;
    margin: 0;
    padding: 150px;
    box-sizing: border-box;
}

#pokemon-container {
    max-width: 1250px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    flex-direction: row;
    align-items: baseline;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}

#prevButton {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}


#nextButton {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.catchBtn {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.homeBtn {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.showMyPokemonBtn {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.showMyPokemonBtn:hover {
    background-color: #968f8f;
}